@mixin warning{
  background-color: orange;
  color: #ffffff;
}

@mixin large-text{
  font:{
    size: 22px;
    weight: bold;
  }
}

@mixin rounded($radius){
  border-radius: $radius;
}

@mixin box($radius, $border){
  @include rounded($radius);
  border: $border;
}

@mixin fancy-link{
  @include rounded;
  border: 1px solid #333;
}
