@import "variable";
@import "mixins";

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

html {
  position: relative;
  min-height: 100%;
}


body{
  font-family:sans-serif;
  color: $text-color;
  background-color: #eee;

  @include large-screens{
    font-size: 125%;
  }
}

h1,h2,h3,h4{
  font-family: $heading-font;
}

p{
  font-family: $text-font;
}

a{
  color: $link-color;

  &:hover{
    color:darken($link-color, 15%);
  }
}

.warning-button{
  @include warning;
  padding:8px 12px;
}

#header{
  @include box($border: 1px solid #999);
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;

  #main-menu{
    li{
      display: inline;
      font-family: $heading-font;
    }
    a{
      color: $menu-item-color;
      padding:6px 8px;
      border-bottom: 1px solid transparentize(#efefef, 1);
      transition: border-bottom 1s;
      trantition-timing-function: ease-in-out;
    }
  }
  #logo{

  }
}

#main{
  width:$content-width;
  @include large-screens{
    width:auto;
    max-width: $content-width;
  }
  margin-left:auto;
  margin-right: auto;

  #content{

  }
  #sidebar{

  }
}

footer {
  background-color: $ternary-color;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  overflow:hidden;
}