@import "variable";

@mixin warning{
  background-color: orange;
  color: #ffffff;
}

@mixin large-text{
  font:{
    size: 22px;
    weight: bold;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body{
  font-family:sans-serif;
  color: $text-color;
  background-color: #eee;
}

h1,h2,h3,h4{
  font-family: $heading-font;
}

p{
  font-family: $text-font;
}

a{
  color: $link-color;
}

.warning-button{
  @include warning;
  padding:8px 12px;
}

#header{
  height: $header-height;
  background-color: $theme-color;

  #main-menu{
    li{
      display: inline;
    }
    a{
      color: $menu-item-color;
    }
  }
  #logo{

  }
}

#main{
  width:$content-width;
  margin-left:auto;
  margin-right: auto;

  #content{

  }
  #sidebar{

  }
}

footer {
  background-color: $ternary-color;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  overflow:hidden;
}